<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E232E41B1EB9A9CC007E4F44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E232E42F1EB9A9CC007E4F44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E232E43A1EB9A9CC007E4F44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
